
body {
    /* min-width: 600px; */
    text-align: center;

}
div{
background-color: aqua;
}
p {
color: rgb(143, 149, 150);
text-align: center;
padding: 30px;
}

.subMain p  {
color: rgb(240, 145, 223);
text-align: center;
}

.mainOne, .mainTwo{
color: blanchedalmond;  
text-align: center;
display: flex;
}

.LinkTag {
color: red;
text-decoration: none;
/* text-align: center; */
width: 200px;

}
pre {
color: rgb(13, 13, 202);
font-size: 20px;
text-align: center;
margin-right: auto;
margin-left: auto;
padding: 0px;

}
.ClasPre{
text-align: center;
padding: 0%;


}
.ClasPre p{
color: #000;


}

